.body{
    
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
    
}
.form{
    width: 50%;
    display: inline-block;
}

.innerform{
    text-align: center;
    margin-left: 37%;
    margin-top: 10%;
}



